In [ ]:
if 5 < 4:
    print("1st command if organ")
    print("2nd cojhvjluyluygyu")

In [ ]:
x = -5
y = 10
if x > 0 or y > 0:
  print ("Both x and y are positive")
  print ("Atleast one condition failed")

Both x and y are positive
Atleast one condition failed

In [ ]:
if 7 != 10:
    print("The above statement is true")
    print("This is not related to the if statement")

The above statement is true
This is not related to the if statement

In [ ]:
grade = 70

if grade > 70:
    print("Congrats, you passed the class")

if grade <= 70:
    print("Condolences, you did not pass the class")

Condolences, you did not pass the class

In [ ]:
if 5 > 4:
    print("The boolean expression is true")
else:
    print("The boolean expression is false")

The boolean expression is true

In [ ]:
my_bool = True

if my_bool:
    print("The value of my_bool is true")
else:
    print("The value of my_bool is false")

The value of my_bool is true

In [ ]:
num = 4

if num % 2 == 0:
    print(str(num) + " is an even number")
else:
    print(str(num) + " is an odd number")

4 is an even number

In [ ]:
a = 500
b = "July"

if a < 10:
    print(str(a) + " is less than 10")
elif a < 20:
    print(str(a) + " is less than 20")
elif a < 30:
    print(str(a) + " less than 30")
else:
    print(str(a) + " is greater than 30 "+ b)
    print(b)

500 is greater than 30 July
July

In [ ]:
# create a list of Black artists
black_artists = ["Jean-Michel Basquiat", "Romare Bearden","Kara Walker", "Lorna Simpson", "Kerry James Marshall"]

# check for 'Kehinde Wiley'
if 'Kehinde Wiley' in black_artists:
  print('Kehinde Wiley is on the list')
else:
  print('Kehinde Wiley is not on the list')

Kehinde Wiley is not on the list

In [ ]:
name = input("What is your name?")
print(name)

What is your name?Amy
Amy